<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Application in Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        #toggle-temp {
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <a id="toggle-temp" v-on:click="toggle" href="#">Switch to {{ isFahrenheit ? "Celsius" : "Fahrenheit" }}</a>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <p>Location search:</p>
                </div>
                <div class="col s10">
                    <input type="search" name="search" v-model="searchValue" id="search">
                </div>
                <div class="col s1">
                    <button v-on:click="search" class="btn"><i class="material-icons">search</i></button>
                </div>
            </div>
            <h3>Current Weather for {{city}}</h3>
            
            <table v-if="isCurrentDataLoaded" class="striped">
                <thead>
                    <tr>
                        <th>Feels like temperature in {{ isFahrenheit ? "Fahrenheit" : "Celsius"}}</th>
                        <th>Current temperature in {{ isFahrenheit ? "Fahrenheit" : "Celsius"}}</th>
                        <th>Condition</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ isFahrenheit == true ? current.feelslike_f : current.feelslike_c }}</td>
                        <td>{{ isFahrenheit == true ? current.temp_f : current.temp_c }}</td>
                        <td>{{current.condition}}</td>
                        <td><img v-bind:src="current.icon"></td>
                    </tr>
                </tbody>
            </table>
            <img v-else src="https://i.gifer.com/7plQ.gif">


            <h3>Forecast for {{city}}</h3>
            <table v-if="isForecastDataLoaded" class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temperature in {{ isFahrenheit ? "Fahrenheit" : "Celsius"}} </th>
                        <th>Condition</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="weather in forecast">
                        <td> {{ new Date(weather.date).toDateString().split(' ')[0] }} </td>
                        <td>{{ isFahrenheit == true ? weather.day.avgtemp_f : weather.day.avgtemp_c }}</td>
                        <td>{{ weather.day.condition.text }}</td>
                        <td><img v-bind:src="weather.day.condition.icon" alt=""></td>
                    </tr>
                </tbody>
            </table>
            <img v-else src="https://i.gifer.com/7plQ.gif">
        </div>

    </div>
    <script src="main.ts"></script>
    <script>
        var api = new apixu('63044e3b457c463582e223928190703');
        var vm = new Vue({
            el: '#app',
            data: {
                isFahrenheit: true,
                isForecastDataLoaded: false,
                isCurrentDataLoaded: false,
                forecast: [],
                current: {
                    feelslike_c: '',
                    feelslike_f: '',
                    temp_c: '',
                    temp_f: '',
                    condition: '',
                    icon: ''
                },
                searchValue: '',
                city: ''
            },
            methods: {
                toggle: function (e) {
                    e.preventDefault();
                    this.isFahrenheit = !this.isFahrenheit;
                },
                search: function () {
                    this.isForecastDataLoaded = false;
                    this.isCurrentDataLoaded= false;
                    /**
                     * Update the forecast data
                     */
                    api.getCurrentForecast(this.searchValue, (data) => {
                        this.forecast = data.forecast.forecastday;
                        this.city = data.location.name + ', ' + data.location.region;
                        this.isForecastDataLoaded = true;
                    }).catch(err => {
                        console.log(err);
                        this.isForecastDataLoaded = true;
                        alert('An error occured. Check the console');
                    });

                    /**
                     * Update the current weather data
                     */
                    api.getCurrentWeather(this.searchValue, (data) => {
                        this.city = data.location.name + ', ' + data.location.region;
                        this.current.feelslike_c = data.current.feelslike_c;
                        this.current.feelslike_f = data.current.feelslike_f;
                        this.current.temp_f = data.current.temp_f;
                        this.current.temp_c = data.current.temp_c;
                        this.current.condition = data.current.condition.text;
                        this.current.icon = data.current.condition.icon;
                        this.isCurrentDataLoaded = true;

                    }).catch(err => {
                        console.log(err);
                        alert('An error occured. Check the console');
                        this.isCurrentDataLoaded = true;
                    });
                }
            }
        });

        /**
         * Initial Data Loading
         */
        api.getCurrentForecast(null, (data) => {
            vm.city = data.location.name + ', ' + data.location.region
            vm.forecast = data.forecast.forecastday;
            vm.isForecastDataLoaded = true;
        });
        api.getCurrentWeather(null, (data) => {
            vm.city = data.location.name + ', ' + data.location.region
            vm.current.feelslike_c = data.current.feelslike_c;
            vm.current.feelslike_f = data.current.feelslike_f;
            vm.current.temp_f = data.current.temp_f;
            vm.current.temp_c = data.current.temp_c;
            vm.current.condition = data.current.condition.text;
            vm.current.icon = data.current.condition.icon;
            vm.isCurrentDataLoaded = true;
        });
    </script>
</body>

</html>